li.main {
    display: inline;
    color: rgb(240, 49, 11)
}

body {
    background-color: rgb(239, 111, 6);
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3cM3t8gR_FC6-km0AcOm3SMeSCKfMGPVvRA&s");
    background-repeat: no-repeat
}

h1 {
    font-size: xx-large;
    color: rgb(232, 200, 72);
}

a {
    padding: 6px;
    < !-- padding-left: ;
    padding-right: ;
    -- !>background-color: aqua;
    text-decoration: none;

}